html,
body {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

body {
  //background: #000 url('../img/01.gif') repeat;
  //background-size: 75%;
}

@font-face {
  font-family: fakt;
  src: url('../fonts/FaktPro-Blond.woff');
}

@font-face {
  font-family: romana;
  src: url('../fonts/RomanaBT-Bold.woff');
}


.title {
  color: #fff;
  font-family: romana;
  font-size: 78px;
  right: 5%;
  position: absolute;
  top: 50%;
  white-space: nowrap;
}

.blocker {
  background-color: #000;
  height: 100%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1000;
}
